@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap');

$color-primery: #0b3b6b;
$color-secondary: rgb(15, 15, 15);
$color-background: rgb(217, 234, 245);

$font-family: 'Nunito', sans-serif;
$large-heading-font-desktop:28px;
$large-heading-font-mobile:26px;
$heading-font-desktop:24px;
$heading-font-mobile:22px;
$sub-heading-font-desktop:20px;
$sub-heading-font-mobile:18px;
$paragraph-font-desktop:16px;
$paragraph-font-mobile:14px;