<div class="container-fluid hero-banner">
    <div class="row">
        <div class="col-md-6 content-block">
            <div class="hero-content-wrap">
                <h4 class="title-prefix">Hi,It's Me</h4>
                <h2 class="title">{{profileData.nameFull | titlecase}}</h2>
                <h2 class="title-sufix">{{profileData.jobProfile | titlecase}}</h2>
                <p class="hero-description">{{profileData.jobDescription}}</p>
                <a type="button" class="btn btn-outline-primary download-button" [href]='profileData.resumeUrl'
                    target="_blank" download="Ashis_Kumar_Dey_Resume.pdf">
                    Resume <i class="bi bi-download ml-2"></i>
                </a>
            </div>
        </div>
        <div class="col-md-6 d-flex align-item-center">
            <picture>
                <!-- Image for Desktop -->
                <source media="(min-width: 768px)" srcset="../../../assets/Images/Hero_banner.png">

                <!-- Image for Mobile -->
                <source media="(max-width: 767px)" srcset="../../../assets/Images/Hero_banner.png">

                <!-- Default Image (if none of the sources match) -->
                <img class="img-fluid" src="../../../assets/Images/Hero_banner.png" alt="Responsive Image">
            </picture>

        </div>
    </div>
</div>