@import "../../../variable.scss";

.hero-banner {
    max-width: 1080px;
    width: 100%;
    margin: auto;
    padding-top: 0px;
    margin-bottom: 48px;

    @media(max-width:991px) {
        padding-top: 32px;
        margin-bottom: 32px;
    }

    .content-block {
        display: flex;
        align-items: center;

        .hero-content-wrap {
            max-width: 500px;

            .title-prefix {
                font-weight: 500;
                font-size: $sub-heading-font-desktop;
                line-height: 24px;

                @media(max-width:991px) {
                    font-size: $sub-heading-font-mobile;
                    line-height: 20px;
                }
            }

            .title,
            .title-sufix {
                font-weight: 700;
                font-size: $large-heading-font-desktop;
                line-height: 24px;
                color: $color-primery;

                @media(max-width:991px) {
                    font-size: $large-heading-font-mobile;
                    line-height: 24px;
                }
            }

            .title-sufix {
                font-size: $sub-heading-font-desktop;
                font-weight: 500;

                @media(max-width:991px) {
                    font-size: $sub-heading-font-mobile;
                    line-height: 22px;
                }
            }

            .hero-description {
                font-size: $paragraph-font-desktop;
                line-height: 22px;
                font-weight: 600;

                @media(max-width:991px) {
                    font-size: $paragraph-font-mobile;
                    line-height: 20px;
                }
            }

            .download-button {
                font-size: $sub-heading-font-desktop;
                font-weight: 600;
                color: $color-primery;
                border-radius: 8px;
                border: 3px solid $color-primery;

                @media(max-width:991px) {
                    font-size: $sub-heading-font-mobile;
                }

                i {
                    font-size: 22px;
                    font-weight: 600;

                    @media(max-width:991px) {
                        font-size: $sub-heading-font-mobile;
                    }
                }

                &:hover,
                &:focus,
                &.active {
                    background-color: $color-primery;
                    color: #fff;
                    box-shadow: none;
                }
            }
        }
    }
}