@import "../../../variable.scss";

.add-Exp {
    .form {

        input.ng-invalid.ng-touched,
        textarea.ng-invalid.ng-touched {
            border: red 2px solid;
        }

        small {
            color: red;
            font-weight: 500px;
        }

        .job-date-section,
        .upload-img-section {
            @media (min-width:991px) {
                display: flex;
                align-items: center;
            }
        }

        input[type="date"] {
            background-color: $color-background;
            padding: 5px 10px;
            color: $color-secondary;
            font-size: 18px;
            border: none;
            outline: none;
            border-radius: 5px;
        }

        ::-webkit-calendar-picker-indicator {
            background-color: transparent;
            padding: 5px;
            cursor: pointer;
            border-radius: 3px;
        }

        .image-preview {
            height: 150px;
            width: 150px;
        }

        .save-button {
            float: right;
            background-color: $color-primery;
            color: #fff;
            border-radius: 25px;
            font-size: $paragraph-font-desktop;
            font-weight: 500;
            padding: 8px 12px;
            margin: 0px 8px;
            width: fit-content;

            &:focus {
                outline: none;
            }

            @media (max-width:991px) {
                font-size: $paragraph-font-mobile;
            }
        }

    }

}

.display-exp {
    tbody {
        .data-image-preview {
            height: 50px;
            width: 50px;
            margin-left: 50%;
            margin-top: 50%;
            transform: translate(-50%, -50%);
        }

        .delete-record {
            margin-left: 50%;
            margin-top: 50%;
            transform: translate(-50%, -50%);
            border: none;
        }
    }
}