<div class="container-fluid career-page">
    <div>
        <div class="row heading-row">
            <div class="col-md-12">
                <h2 class="title">Ashis's Career Hitory</h2>
            </div>
        </div>
        <div class="row content-wrap">
            <div class="col-lg-6 no-padd d-flex align-item-center image-section">
                <picture class="image-container">
                    <source media="(min-width: 768px)" srcset="../../../assets/Images/career_banner.jpg">
                    <source media="(max-width: 767px)" srcset="../../../assets/Images/career_banner.jpg">
                    <img class="img-fluid" src="../../../assets/Images/career_banner.jpg" alt="Responsive Image">
                </picture>
            </div>
            <div class="col-lg-6 no-padd content-block">
                <div class="job-history" *ngIf="!jobloading">
                    <div class="skills-desctiption" *ngFor="let job of jobHistory">
                        <app-career [jobName]="job.name" [companyLogo]="job.imagePath" [companyTenure]="job.timeline"
                            [companyDesc]="job.description"></app-career>

                    </div>
                </div>
                <div class="spinner-border" role="status" *ngIf="jobloading">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

        </div>
    </div>
    <div>
        <div class="row heading-row">
            <div class="col-md-12">
                <h2 class="title">Projects I worked</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <app-project-experience></app-project-experience>
                <!-- <h3 class="text-center my-5">Coming Soon...</h3> -->

            </div>

        </div>

    </div>


</div>