@import "../../../variable.scss";

.footer-wrap {
    width: 100%;
    margin: auto;
    background-color: $color-primery;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;

    .footer-content {
        max-width: 1080px;
        display: flex;
        align-items: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        @media(max-width:967px) {
            align-items: flex-start;
        }

        .footer-title {
            font-size: $large-heading-font-desktop;
            font-weight: 700;
            text-align: center;

            @media(max-width:991px) {
                text-align: left;
                font-size: $large-heading-font-mobile;
            }
        }

        .footer-contact {
            font-size: $sub-heading-font-desktop;
            font-weight: 500;

            p {
                cursor: pointer;
                text-align: center;

                @media(max-width:991px) {
                    text-align: left;
                    font-size: $sub-heading-font-mobile;
                }
            }
        }

        .footer-icon-bar {
            display: none;

            @media (max-width:1024px) {
                display: flex;
                justify-content: space-around;
                width: 100%;
                max-width: 400px;

                a {
                    color: white;
                    font-size: $sub-heading-font-desktop;

                    @media(max-width:991px) {
                        font-size: $large-heading-font-desktop;
                    }
                }
            }

        }

        .outrow-desc {
            text-align: center;
            font-size: $paragraph-font-desktop;

            @media(max-width:991px) {
                text-align: left;
                font-size: $paragraph-font-mobile;
            }
        }
    }
}


.notification-popper {
    position: fixed;
    top: 5%;
    right: 3%;
    background-color: $color-background;
    color: #0b3b6b;
    padding: 14px 12px;
    border-radius: 4px;
    font-size: $paragraph-font-desktop;

    @media(max-width:991px) {
        font-size: $paragraph-font-mobile;
    }
}