@import "../../../variable.scss";

.skills-page {
    max-width: 1080px;
    width: 100%;
    margin: auto;
    padding-top: 0px;
    margin-bottom: 48px;

    @media(max-width:991px) {
        padding-top: 32px;
        margin-bottom: 32px;
    }

    .heading-row {
        .title {
            text-align: center;
            font-weight: 700;
            font-size: $heading-font-desktop;
            line-height: 24px;
            color: $color-primery;
            margin-top: 48px;

            @media(max-width:991px) {
                font-size: $heading-font-mobile;
                line-height: 38px;
                margin-top: 32px;
                text-align: left;
            }
        }
    }

    .content-row {
        margin-top: 32px;

        @media(max-width:991px) {
            margin-top: 26px;
        }

        .content-block {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

        }
    }


}